<div class="usercenter_right_top">
  <h3>当前位置：<a href="/">管理中心首页</a> &gt; <em><%= @page_name %></em></h3>
  <div class="usercenter_righ_quick">
    <ul>
      <li class="U-R-icon01"><a href="">购买货币</a></li>
      <li class="U-R-icon02"><a href="">账户充值</a></li>
      <li class="U-R-icon03"><a href="">推广中心</a></li>
      <li class="U-R-icon04"><a href="">帮助中心</a></li>
    </ul>
  </div>
</div>