<!--container begin-->
<div id="container" class="bound">
  <div class="content_user">
    <%= render 'users/usercenter_left' %>

    <div class="usercenter_right left">
      <%= render 'users/usercenter_right_top' %>

      <div class="usercenter_right_cen">
        <div class="user_inside_content">
          <form>
            <div class="ur_data_table">
              <table width="740" border="0" cellspacing="0" cellpadding="0" valign="middle">
                <tbody>
                <tr>
                  <td class="data_td1">充值用户名：</td>
                  <td class="data_td2">dsa123</td>
                </tr>
                <tr>
                  <td class="data_td1">充值金额：</td>
                  <td class="data_td2"><input name="" type="text" value="" class="user-inside-input"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="ur_data_button_wrap">
              <button class="ur_recharge_button" type="submit"></button>
            </div>
          </form>
        </div><!--user_inside_content-->
      </div><!--usercenter_right_cen-->

    </div><!--usercenter_right end-->
  </div><!--content_user end-->
</div>
<!--container end-->