    <!--slide_index begin-->
    <div id="slide_index" >
        <div class="login_area">
            <div class="bound login_area_in">
                <div class="login_wrap">
                    <div class="reg_btn_wrap">
                        <%= link_to "", "", class: "reg_btn" %>
                    </div>
                    <div class="login_info_wrap">
                        <form method="" action="">
                        <table id="login_wrap_table">
                            <tr>
                                <td>用户名：</td>
                                <td colspan="2"><input type="text" class="login_input_text" /></td>
                            </tr>
                            <tr>
                                <td>密&nbsp;码：</td>
                                <td colspan="2"><input type="password" class="login_input_text" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="login_btn"></button></td>
                                <td><input class="check_input" type="checkbox" >记住我 <a class="orange_link" href="">忘记密码？</a></td>
                            </tr>
                        </table>
                        </form>
                    </div>
                    <div class="login_wrap_tip">一个真实的淘宝信誉互动平台期待你的加入！</div>
                </div>
            </div>
        </div>
        <div id="flowimg">
            <div style="width:100%; height:316px; background: url(/assets/banner01.jpg) no-repeat center center">  </div>
            <div style="width:100%; height:316px; background: url(/assets/banner02.jpg) no-repeat center center">  </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--slide_index end-->
    <!--container_index begin-->
    <div id="container_index" class="bound clearfix">
        <div id="container_index_left" class="left">
            <div id="services_wrap">
                <div id="services_wrap_head">服务交易</div>
                <div id="services_wrap_content" class="clearfix">
                    <div id="services_wrap_content_l" class="left">
                        <div id="services_disc1" class="services_disc">悬赏：<br />发布悬赏任务，<br />只给最满意创意付款买单</div>
                        <div class="server_btn_wrap"><a class="server_btn" id="server_btn1" href=""></a></div>
                    </div>
                    <div id="services_wrap_content_r" class="right">
                        <div id="services_disc2" class="services_disc">计件：<br />发布计件需求，<br />满意的创意统统打包带走！</div>
                        <div class="server_btn_wrap"><a class="server_btn" id="server_btn2" href=""></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container_index_right" class="right">
            <div id="buy_virtual_1">
                <div class="buy_virtual_info left">拥有货币，就可以发布自己的任务，获得好评。 想要轻轻松松立即到钻吗？每个货币等于一个信誉！</div>
                <div class="buy_virtual_btn_wrap left"><a href="" class="buy_virtual_btn"></a></div>
            </div>
            <div id="buy_virtual_2">
                <div class="buy_virtual_info left">VIP至尊套餐，购买后直接成为VIP，同时你还能送出的200个货币。</div>
                <div class="buy_virtual_btn_wrap left"><a href="" class="buy_virtual_btn"></a></div>
            </div>
        </div>
    </div>
    <!--container_index end-->
