<div class="pager_wrap">
  <div id="pagination" class="pagination left">
    <a href="#" class="prev">&lt;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <span class="current">3</span>
    <a href="#">4</a><a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">8</a>
    <span>...</span>
    <a href="#">9</a>
    <a href="#">10</a>
    <a href="#" class="next">&gt;</a>
  </div>
  <div class="right jumppage"><span>跳转：<input size="3" type="text"/></span><span>页</span><a href="">GO</a></div>
</div><!--pager_wrap-->