* { margin:0; padding:0; }
html,body{height:100%}
div {
display: block;
}
body{font-family:'微软雅黑',helvetica,'Helvetica Neue',arial,"liberation sans",freesans,sans-serif;margin:0;padding:0;border:0;background:#fff;font-size:12px;color:#646464;text-align:left;min-width:1000px;outline-style:none;outline-color:invert;outline-width:0;line-height:22px;}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0;list-style-type:none}
h1,h2,h3,h4,h5,h6,table,td,tr,th{margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
address, caption, cite, code, dfn, em, th, var, optgroup {
font-style: normal;
font-weight: normal;
}
input,p,span{margin:0;padding:0}
body input,body textarea{font-family:helvetica,arial,"liberation sans",freesans,sans-serif;font-size:12px}
ul, li { list-style-type:none }
a img { border:none }
a{ text-decoration:none;}
a:link,a:visited{color: #535353;}
a:hover{color:#f39800; text-decoration:underline;outline:none;}
.orange_link:link, .orange_link:visited{color: #f39800;}
.red_link:link, .red_link:visited{color: #e60012;}
.current:link, .current:visited{color: #fff;}
#nav a:hover{color:#fff; text-decoration:none; background:url(/assets/nav_bt_bg.png);}
.button:link, .button:visited{ text-decoration:none;}
.user-subnav-group dd .item-wrap:hover{ background:url(/assets/ucleft_on_bg.png) no-repeat; text-decoration:none; }
.task_menu ul li a:link, .task_menu ul li a:visited{color:#fff;text-decoration:none;}
.task_menu ul li a:hover{ color:#e60012;}

.bound{
width: 1002px;
overflow: hidden;
margin: 0 auto;
}
.left{ float:left}
.right{ float:right}
.clear{
float: none;
clear: both;
font-size: 0px;
line-height: 0px;
height: 0px;
min-height: 0px;
padding: 0px;
margin: 0px;
overflow: hidden;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; zoom: 1;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/*--header begin--*/
#header_nav{ height:35px; line-height:35px; background:url(/assets/head_nav_bg.png) repeat-x;}
#head_logo{ padding:6px 0;}
#nav_wrap{ height:38px; line-height:38px; font-size:14px; font-weight:500; background:url(/assets/nav_bg.png) repeat-x;}
#nav ul li{ float:left; width:90px; text-align:center;}
#nav ul li a{ display:block; width:90px;}
#nav ul li a.current{ background:url(/assets/nav_bt_bg.png); font-weight:700;}
/*--header end--*/
/*---jshowoff--*/
.jshowoff{ text-align:left;}
.jshowoff-1-slidelinks{
position: absolute;
bottom: 0px;
width: 100%;
text-align: center;
height: 19px;
z-index: 40000;
}
.jshowoff-1-slidelinks a{
background:url(/assets/jshowoff_off.png) no-repeat;width:8px;height:8px;
cursor: pointer;
display: inline-block;
margin-right: 8px;
text-indent: -10000em;
}
.jshowoff-1-slidelinks a.jshowoff-active{ background:url(/assets/jshowoff_on.png) no-repeat;}
/*---jshowoff end--*/
/*--slide_index begin--*/
#slide_index{ overflow:hidden; height:316px; position:relative; z-index:100;}
.login_area{ 
position:absolute;
z-index:1000;
width:100%;
height:316px;
}
.login_area_in{
height:280px;
padding-top:15px;
}
.login_wrap{
width:270px; 
height:260px;
padding:15px 25px 0 25px;
float:right;
border:1px solid #ccc;
background:#e3f2fc;
}
.reg_btn{
display:block;
width:270px;
height:39px;
background:url(/assets/register_bt_bg.png) no-repeat;
margin-bottom:15px;
}
.login_info_wrap{
border-bottom:1px solid #dcdcdc;
}
.check_input{
display: inline-block;
margin-right: 5px;
vertical-align: -2px;
}
.login_btn{
cursor: pointer;
display: inline-block;
border: none;
width: 74px;
height: 26px;
background:url(/assets/login_bt_bg.png) no-repeat;
margin: 0px 10px 0 0px;
color: #fff;
}
#login_wrap_table tr{
vertical-align:middle;
height:45px;
line-height:45px;
}
.login_input_text{
padding-left: 2px;
color: #333333;
height: 25px;
line-height: 25px;
width:200px;
display: block;
float: left;
font-size: 12px;
}
.login_wrap_tip{ padding:5px 0px 0 0px; text-align:center; color:#b28850;}
.userinfo_table{ font-weight:bold;}
.login_title{font-weight:bold; padding-left:2px; padding-bottom:20px;}
.login_title span{ font-size:14px;}
.login_title a{ float:right;}
.userinfo_table tr{ height:32px;}
.userinfo_table_title{ width:50px; text-align:left;}
.userinfo_table_title_R{ width:80px; text-align:right;}
.cmbutton{ display:block; float:left; width:81px; height:25px; line-height:25px; text-align:center; background:url(/assets/xmbutton.png) no-repeat;}
/*--slide_index end--*/
/*--container_index begin--*/
#container_index{ margin-top:20px; padding-bottom:20px;}
#container_index_left{ width:638px; height:255px; border:solid 1px #dcdcdc; background: url(/assets/servicewrap_bg.jpg) repeat-x;}
#services_wrap{ height:auto;}
#services_wrap_head{ height:43px; line-height:43px; padding-left:35px; border-bottom:solid 1px #dcdcdc; font-size:14px; font-weight:bold;}
#services_wrap_content{ padding:27px 35px;}
.services_disc{ font-size:14px; font-weight:bold; line-height:25px; padding-left:20px;}
#services_disc1{ color:#f39800;}
#services_disc2{ color:#0075a9;}
.server_btn_wrap{ margin-top:10px;}
.server_btn{ display:block; width:242px; height:68px;}
#server_btn1{ background:url(/assets/server_btn01.png)}
#server_btn2{ background:url(/assets/server_btn02.png)}
#container_index_right{ width:346px;}
#buy_virtual_1{ height:138px; background:url(/assets/buy_virtual_currency.png);}
#buy_virtual_2{ height:120px; background:url(/assets/buy_vip.png);}
.buy_virtual_info{ width:150px; padding:28px 20px 0 55px;}
#buy_virtual_1 .buy_virtual_btn_wrap{ padding-top:80px;}
#buy_virtual_2 .buy_virtual_btn_wrap{ padding-top:50px;}
.buy_virtual_btn{ display:block; width:96px; height:30px; background:url(/assets/buy_btn.png) no-repeat;}
/*--container_index end--*/

/*--footer begin--*/
#footer{ height:90px; background-color:#eeeeee;}
#footer_wrap{ padding-top:20px;}
/*--footer end--*/

/*---container begin---*/
#container{ margin-top:15px; margin-bottom:30px;}
.content_user{background:#eeeeee;}
.content_user:before, .content_user:after {
display: table;
clear: both;
content: '';
}
.usercenter_right{ width:810px; background:#eeeeee; }
.content-user-tp {
overflow: hidden;
clear: both;
width: 100%;
height: 2px;
background: #edebe8;
font-size: 0;
line-height: 0;
}
.content-user-tp b {
float: left;
width: 175px;
height: 2px;
background: #ec6941;
}
/*---user_center begin---*/
.usercenter_left{ width:192px; padding:10px 0; background:url(/assets/ucleft_bg.png) repeat-y;}
.user-subnav {
width: 184px;
padding-left:8px;
}
.user-subnav-group {
display: block;
width: 100%;
padding: 0 0 20px;
}
.user-subnav-group dt {
overflow: hidden;
width: 100%;
height: 39px;
}
.user-subnav-group dt .item-wrap {
height: 39px;
padding-left: 40px;
font-size:16px;
color: #fff000;
}
.user-subnav-group .item-current {
background: #edebe8 url(/assets/ucleft_on_bg.png) no-repeat;
text-decoration: none;
}
.user-subnav-group .item-wrap {
display: block;
overflow: hidden;
height: 39px;
line-height: 39px;
color: #fff;
}
.user-subnav-group dd {
overflow: hidden;
height: 39px;
}
.user-subnav-group dd .item-wrap {
padding-left: 40px;
}


.user-subnav-spl {
display: block;
overflow: hidden;
clear: both;
width: 163px;
height: 0;
border-top: 1px solid #f8bf60;
border-bottom: 1px solid #f5ab30;
}
.user-mc-crumb {
padding: 12px 15px 0;
text-align: right;
}
.user-mc-crumb a {
display: inline-block;
overflow: hidden;
height: 16px;
margin-left: 10px;
padding-left: 15px;
white-space: nowrap;
vertical-align: top;
color: #6a3906;
}
.user-mc-crumb a.itm1{
background: url(/assets/icons.gif) 0 -24px no-repeat;
}
.user-mc-crumb a.itm2{
background: url(/assets/icons.gif) 0 -47px no-repeat;
}
.user-mc-crumb a.itm3{
background: url(/assets/icons.gif) 0 -67px no-repeat;
}
.user-mc-crumb a.itm4{
background: url(/assets/icons.gif) 0 -86px no-repeat;
}
.user-mc-row {
zoom: 1;
padding: 10px 15px;
}
.user-mc-row .user-welcome {
overflow: hidden;
zoom: 1;
color: #6e6e6e;
}
.user-welcome .wel {
clear: both;
height: 24px;
margin-top: -5px;
margin-bottom: 20px;
padding-left: 15px;
}
.user-welcome .status-info {
float: left;
width: 235px;
padding-left: 15px;
}
.user-welcome .account-info {
float: left;
width: 210px;
border-right: 1px dotted #939290;
}
.user-welcome .notice {
overflow: hidden;
float: right;
width: 241px;
height: 92px;
padding: 10px 15px;
background: url(/assets/notice-bg.png) no-repeat;
}
.user-welcome .notice-hd {
overflow: hidden;
height: 20px;
margin-bottom: 10px;
line-height: 20px;
}
.user-welcome .notice-hd h3 {
float: left;
}
.user-welcome .notice-hd .more {
float: right;
color: #6a3906;
}
.user-welcome .notice-bd {
overflow: hidden;
height: 40px;
padding-left: 30px;
background: url(/assets/notice-icon.png) no-repeat 2px 3px;
line-height: 20px;
color: #989898;
}
.user-r-box {
zoom: 1;
position: relative;
}
s, strike, del {
text-decoration: line-through;
}

.user-r-box-hd {
overflow: hidden;
height: 33px;
padding: 0 20px;
zoom: 1;
border-left: 1px solid #dfdedc;
border-right: 1px solid #dfdedc;
background: #f8f8f8 url(/assets/U_user-r-box.png) repeat-x 0 -10px;
line-height: 33px;
}
.user-r-box-hd h2 {
color: #035580;
}
.user-r-box-bd {
zoom: 1;
border: 1px solid #dfdedc;
background: #fff;
}
.user-index-service-brick {
overflow: hidden;
position: relative;
width: 453px;
margin: 0 auto;
padding: 2px 0;
}
.user-index-service-brick .b1 {
background: #ff7b3a;
}
.user-index-service-brick .b2 {
background: #29b1ba;
}
.user-index-service-brick .b3 {
background: #c26bc1;
}
.user-index-service-brick .b4 {
background: #36c736;
}
.user-index-service-brick .b5 {
background: #cd4949;
}
.user-index-service-brick .b6 {
background: #3caae3;
}
.user-index-service-brick li {
float: left;
width: 136px;
height: 52px;
padding-left: 15px;
padding-top: 10px;
line-height: 20px;
color: #fff;
}
.user-index-service-brick strong {
display: block;
color: #fff;
}
.user-index-service-brick span {
display: block;
color: #fff;
}
.user-index-tixing-msg {
padding: 0 18px 18px;
}
.user-index-tixing-msg li {
padding: 5px 0;
line-height: 22px;
}
.user-index-tixing-msg li .type {
display: block;
font-weight: 700;
color: #d10000;
}
.user-index-tixing-msg li .summary {
padding-left: 10px;
color: #3c3c3c;
}
.user-index-tixing-msg .type2 .type {
color: #ff7200;
}
/*---user_center end---*/
/*--reg_wrap--*/
.reg_header{ height:60px;}
.reg_header_l{ width:55px; height:55px; background:url(/assets/user_icon.png) no-repeat;}
.reg_header_r h2 {
padding-left: 20px;
font-size: 16px;
line-height: 35px;
color:#f19149;
}
.reg_header_r p {
margin-left: 20px;
color: #818181;
margin-top: 5px;
}
.reg-float {
margin-top: 35px;
}
.reg-float h3 {
font-size: 14px;
font-weight: bold;
color: #434343;
background: #ffedd3;
height: 29px;
line-height: 29px;
border-bottom: #f39800 1px solid;
padding-left: 15px;
}
.reg-float p {
margin-left: 50px;
}
.reg-float ul {
margin-top: 30px;
}
.reg-float ul li {
color: #404040;
font-size: 14px;
margin-bottom: 15px;
}
.reg-float ul li em {
width: 100px;
display: block;
float: left;
text-align: right;
padding-top: 4px;
}
.reg-input {
width: 197px;
height: 20px;
padding-top: 4px;
border: #a7a6aa 1px solid;
padding-left: 3px;
}
.service-text {
background: #f2f2f2;
border: #d8d8d8 1px solid;
width: 840px;
height: 162px;
padding-left: 80px;
padding-top: 10px;
margin-top: 30px;
}
.service-text h4 {
font-size: 14px;
font-weight: bold;
color: #303030;
line-height: 30px;
}
.service-text textarea {
width: 800px;
height: 100px;
}
.reg_wrap_btn{
display:block;
border:none;
width:226px;
height:29px;
background:url(/assets/regbtnbg.png) no-repeat;
cursor:pointer;
}

.usercenter_right_top {
height: 30px;
width: 805px;
line-height: 32px;
}
.usercenter_right_top h3 {
float: left;
margin-left: 10px;
background: url(/assets/icons.gif) 0 -107px no-repeat;
padding-left: 15px;
}
.usercenter_righ_quick{ float:right;}
.usercenter_righ_quick ul li {
float: left;
padding-left: 20px;
margin-left: 10px;
margin-right: 5px;
}

.usercenter_righ_quick ul li.U-R-icon01 {
float: left;
background: url(/assets/cricon1.gif) left no-repeat;
}
.usercenter_righ_quick ul li.U-R-icon02 {
float: left;
background: url(/assets/cricon2.gif) left no-repeat;
}
.usercenter_righ_quick ul li.U-R-icon03 {
float: left;
background: url(/assets/cricon3.gif) left no-repeat;
}
.usercenter_righ_quick ul li.U-R-icon04 {
float: left;
background: url(/assets/cricon4.gif) left no-repeat;
}
.usercenter_right_cen{
width: 765px;
padding-left: 20px;
padding-right: 20px;
_padding-right: 15px;
padding-top: 12px;
}
.user_inside_content{
margin-top: 20px;
padding-bottom: 20px;
}
.user_inside_sub{ height:20px;}
.user_inside_sub ul li {
float: left;
margin-right: 5px;
margin-left: 5px;
}
.user_inside_sub ul li a {
display: block;
padding: 0 10px;
float: left;
background: #e3e3e3;
height: 26px;
line-height: 27px;
margin-bottom: -1px;
border-left: #e3e3e3 1px solid;
border-top: #e3e3e3 1px solid;
border-right: #e3e3e3 1px solid;
}
.user_inside_sub ul li a.current_m{
background:#fce3bf;
}
.user_inside_table {
padding-top: 20px;
padding-bottom: 30px;
}
.user_inside_table td {
height: 35px;
}
.urtable_top td {
background: #f8b551;
height: 28px;
border-bottom: #fff 1px solid;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
.ur_data_table{ background:#fff;}
.data_td1 {
background: #f9f9f9;
width: 125px;
height: 40px;
text-align: right;
margin-right: 5px;
}
.data_td2 {
padding-left: 10px;
width: 500px;
}
.ur_data_button_wrap{ padding:20px 0 0 147px;}
.ur_data_button{
display:block;
width:110px;
height:24px;
border:none;
background:url(/assets/urbutton.png) no-repeat;
cursor:pointer;
}
.ur_recharge_button{
display:block;
width:110px;
height:24px;
border:none;
background:url(/assets/rechargebtn.png) no-repeat;
cursor:pointer;
}
/*--taobao begin--*/
.userinfo, .news_wrap{ height:55px; background:url(/assets/hudong_nav1.png) repeat-x; border:1px solid #dcdcdc; margin-bottom:5px;padding-left: 35px;}
.userinfo h2, .news_wrap h2{
width: 868px;
padding-top:5px;
height: 18px;
font-weight: bold;
line-height: 22px;
color:#eb6100;
}
.userinfo p, .news_wrap ul{ margin-top:5px;}
.userinfo em {
font-weight: bold;
color: #e60012;
}
.news_wrap ul li {
float: left;
width: 240px;
font-family: 宋体;
}
.task_menu {
background: url(/assets/task_menubg.png) no-repeat;
width: 1002px;
height: 35px;
padding-left: 35px;
padding-top: 5px;
}
.task_menu ul li {
float: left;
padding-left: 35px;
height: 30px;
line-height: 30px;
margin-right: 27px;
}
.task_menu ul li.task-menu01 {
background: url(/assets/hdicon1.png) no-repeat left;
}
.task_menu ul li.task-menu02 {
background: url(/assets/hdicon2.png) no-repeat left;
}
.task_menu ul li.task-menu03 {
background: url(/assets/hdicon3.png) no-repeat left;
}
.task_menu ul li.task-menu04 {
background: url(/assets/hdicon4.png) no-repeat left;
}
.task_menu ul li.task-menu05 {
background: url(/assets/hdicon5.png) no-repeat left;
}
.task_menu ul li.task-menu06 {
background: url(/assets/hdicon6.png) no-repeat left;
}
.task_menu ul li.task-menu07 {
background: url(/assets/hdicon7.png) no-repeat left;
}
.task_menu ul li.task-menu08 {
background: url(/assets/hdicon8.png) no-repeat left;
}
.task_menu ul li a.current {
color: #e60012;
font-weight: bold;
}
.task_sub{ background:#eeeeee;}
.task_sub ul li {
float: left;
height: 40px;
margin-right: 20px;
_margin-right: 10px;
padding-top: 12px;
margin-left: 20px;
}
.task_sub ul li a.sub_current {
background: #f9e4c5;
display: block;
padding: 0px 8px;
}
.task_list_top {
background:#f9e4c5;
width: 1002px;
height: 24px;
}
.task_list_top ul li {
text-align: center;
line-height: 24px;
float: left;
}
.task_list_content {
height: 70px;
width:1002px;
text-align: center;
line-height: 18px;
}
.task_list_content2 {
background: #f9f9f9;
}
.task_list_content ul li {
float: left;
}
.jieshoubtn{ display:block; width:76px; height:26px; background:url(/assets/jieshoubtn.png) no-repeat; margin-left:20px; cursor:pointer;}
/*---pager_wrap--*/
.pager_wrap{ padding:12px 20px 0px 20px; height:30px; background:#ebebeb;}
.pagination a {
text-decoration: none;
border: solid 1px #ccc;
}
.pagination a, .pagination span {
display: block;
float: left;
padding: 0px 5px;
margin-right: 5px;
margin-bottom: 5px;
height:17px;
line-height:17px;
}
.pagination .current {
background: #80a309;
color: #fff;
border: solid 1px #ccc;
}
.jumppage{ min-width:130px; width:auto !important;}
.jumppage input{ border:solid 1px #CCCCCC;}
.jumppage span{ padding:0 5px; float:left;}
.jumppage a{ float:left; display:block; padding:0 3px; height:20px; text-align:center; background:#b8b8b8; border:1px solid #999; font-weight:bold;}
/*---pager_wrap end--*/
.task_tip{
padding-left: 25px;
padding-top: 10px;
padding-bottom: 20px;
}
.task_publish_sub{
border-bottom: #eb6100 1px solid;
margin-top: 30px;
}
.task_publish_sub ul li.publish_title {
font-size: 18px;
margin-right: 45px;
}
.task_publish_sub ul li {
float: left;
margin-right: 10px;
}
.publish_title em {
color: #ff5400;
margin-right: 5px;
}
.task_publish_sub ul li a {
display: block;
background:#ffebca;
width: 88px;
height: 25px;
line-height: 25px;
text-align: center;
text-decoration: none;
}
.task_publish_sub ul li a.pub_current {
display: block;
background:#eb6100 ;
width: 88px;
height: 25px;
line-height: 25px;
text-align: center;
text-decoration: none;
font-weight: bold;
color: #fff;
}
.task_publish_sub ul li a:hover{
background:#eb6100 ;
color: #fff;
}
.publish_button_wrap{ padding:20px 0 0 147px;}
.publish_button{
display:block;
width:134px;
height:32px;
border:none;
background:url(/assets/publishbtn.png) no-repeat;
cursor:pointer;
}
.publish_td1 {
background: #ffebca;
width:15%;
height: 40px;
text-align: right;
margin-right: 5px;
}
.publish_td2 {
padding-left: 10px;
width: 85%;
border-bottom: #ffebca 1px solid;
border-right: #ffebca 1px solid;
}
.publish_table{ font-size:14px;}
.pub_input{ display:inlie-block; height:25px; line-height:25px;}
.publish_content em {
font-weight: bold;
color: #e60012;
}
/*---taobao engd--*/
/*--bbs begin--*/
.bbs_nav{
border: #cdcdcd 1px solid;
background: #f39800;
height: 33px;
line-height: 33px;
color:#fff;
}
.bbs_nav h4{
float:left;
padding-left:10px;
}
.bbs_nav p{
float:right;
padding-right:10px;
}
.bbs_nav a:link, .bbs_nav a:visited{
color:#FFFFFF;
}
.bbs_sub{padding-top: 10px;}
.bbs_sub h3{ float:left; margin-right:20px;}
.bbs_sub p.bbs_search{ float:left;}
.bbs_sub p.bbs_send{ float:right;}
.bbs-tr1 td {
background: #f2f2f2;
border-top: #fff 1px solid;
border-bottom: #cdcdcd 1px solid;
height: 37px;
}
.bbs-td1 {
padding-left: 15px;
}
.bbs_title{
padding: 10px 0;
}
.bbs-left {
float: left;
width: 755px;
}
.bbs-lc {
border: #cdcdcd 1px solid;
width: 753px;
margin-bottom: 15px;
}
.bbs-lc-T {
border-bottom: #d1d1d1 1px dashed;
padding-bottom: 12px;
}
.bbs-lc-T dl dd {
float: left;
}
.bbs-lc-T dl dt {
float: left;
margin-left: 5px;
}
.bbs-lc-T dl {
float: left;
margin-left: 12px;
margin-top: 12px;
}
.bbs-lc-T h4 {
float: right;
text-align: right;
margin-right: 15px;
margin-top: 12px;
}
.bbs-lc-C {
padding: 18px 18px 35px 18px;
font-size: 14px;
line-height: 25px;
}
.bbs-right {
float: right;
width: 230px;
}
.bbs-news {
width: 228px;
border: #cdcdcd 1px solid;
margin-bottom:10px;
}
.bbs-n-t {
width: 228px;
height: 31px;
line-height: 31px;
background: #fbe0b2;
border-top: #fff 1px solid;
}
.bbs-n-t h4 {
float: left;
font-weight: bold;
font-size: 14px;
padding-left: 10px;
}
.bbs-n-t p {
float: right;
padding-right: 5px;
}
.bbs-n-l ul {
line-height: 25px;
padding: 7px 15px;
font-family: 宋体;
}
.collect_reply{ text-align:right; padding-right:10px; padding-bottom:8px;}
/*--bbs end--*/
/*---container end---*/



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
